.search-admin {
    color: white;
}
.logo-admin {
    width: 200px;
    height: 100px;
}
.icon-homeAdmin i {
    font-size: 41px !important;
}
.copyright {
    padding-top: 180px;
}
.mb30-userAdmin {
    width: 58em !important;
}
.data-tool-add {
    padding-left: 40px;
}
.image a img {
    width: 40px;
    height: 50px;
}
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif; 
    color: black
}
.bootstrap-iso form button, .bootstrap-iso form button:hover {
    color: white !important;
} 
.asteriskField {
    color: red;
}
.card {
    width: 180%;
}
.long {
    width: 26em;
}
#container {
    height: 30em;
}
